/* Resetting default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.header-left h1 {
    font-size: 24px;
    margin: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.key-features, .socials, .made-with-picotracker {
    margin-bottom: 30px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 5px 0;
}

ul li a {
    color: #333;
    text-decoration: none;
}

ul li a:hover {
    color: #4CAF50;
}
