name: clang-format Check
on:
  push:
    paths:
      - sources/**
  pull_request:
    paths:
      - sources/**

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install clang-format-17
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format-17
      - name: Run clang-format style check
        run: .github/scripts/clang-format-check.sh
