name: Deploy to GitHub Pages on merge
on: 
  workflow_dispatch:
  push:
    branches:
      - 2.2-release
    paths:
      - usermanual/**

permissions:
  contents: read
  pages: write
  id-token: write

jobs:  
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mkdir usermanual/bin; curl -L "https://github.com/maks/picosite/releases/download/0.3.0/picosite-linux" -o "usermanual/bin/picosite"; chmod +x usermanual/bin/picosite
      - run: cd usermanual; ./build.sh
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: 'github-pages'
          path: usermanual/web
  deploy:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v4
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
